<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
  	<httpProtocol>
		<customHeaders>
		<add name="Access-Control-Allow-Origin" value="*"/>
		</customHeaders>
	</httpProtocol>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\GetLocationList.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
</configuration>
<!--ProjectGuid: 1b49d7ef-0f70-48f4-902e-1d0ba5c592e6-->