@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Vivek Shukla
</address>

<address>
    <strong>Contact Support:</strong> <a href="mailto:vivek.shukla.ggits@gmail.com">vivek.shukla.ggits@gmail.com</a><br />
    
</address>
