@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/StyleSheet.css" />
<link rel="stylesheet" href="~/css/core.css" />
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div>
        <div class="jumbotron">
            <h3 class="text-center">Search For Any Movie</h3>
            <form id="searchForm">
                <input type="text" class="form-control" id="searchText" placeholder="Search Movies...">
            </form>
        </div>
    </div>
    <div class="container">
        <h3>List of Movies</h3>
        <div id="movies" class="row"></div>
    </div>

    <div class="container">
        <h3>Trailers</h3>
        <section>
            <ul id="trailers"></ul>
        </section>
    </div>
    @Html.Hidden("RedirectTo", Url.Action("About", "Home"));
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="~/js/Main.js"></script>
<script src="~/js/core.js"></script>
<script src="~/js/media.js"></script>
<script src="~/js/thumbs.js"></script>